<div class="col-md-12">
  <span class="anchor" id="formComplex"></span>
  <h3>Execution Search </h3>

  <form [formGroup]="executionsService.searchForm">
    <div class="form-row mt-3">
      <div class="col-sm-2 pb-3">
        <label for="executionid">Execution ID</label>
        <input type="text" class="form-control" id="executionid" formControlName="executionId">
      </div>
      <div class="col-sm-2 pb-3">
        <label for="orderid">Order ID</label>
        <input type="text" class="form-control" id="orderid" formControlName="orderId">
      </div>
      <div class="col-sm-1 pb-3">
        <label for="type">Type</label>
        <select class="form-control" id="type" formControlName="type">
          <option></option>
          <option>New</option>
          <option>Partial Fill</option>
          <option>Fill</option>
        </select>
      </div>
      <div class="col-sm-2 pb-3">
        <label for="entrydate">From Date</label>
        <div class="form-group">
          <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
            <input class="form-control" (ngModelChange)="checkFromDate()" [options]="options"
              NgTempusdominusBootstrapInput type="text" formControlName="createDateFrom" />
            <div class="input-group-append" NgTempusdominusBootstrapToggle>
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 pb-3">
        <label for="entrydate">To Date</label>
        <div class="form-group">
          <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
            <input class="form-control" (ngModelChange)="checkToDate()" [options]="options"
              NgTempusdominusBootstrapInput type="text" formControlName="createDateTo" />
            <div class="input-group-append" NgTempusdominusBootstrapToggle>
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 pb-3">
        <label for="entrytime">&nbsp;</label>
        <button type="button" class="form-control btn btn-primary pull-right" (click)="getExecutions()" [disabled]="executionsService.searchForm.invalid || !isDateValid">Search</button>
      </div>
    </div>
  </form>
</div>
<!--Form Validation-->
<div *ngIf="executionsService.searchForm.get('orderId').invalid && 
(executionsService.searchForm.get('orderId').dirty || executionsService.searchForm.get('orderId').touched)"
  class="alert alert-danger">
  <div *ngIf="executionsService.searchForm.get('orderId').errors.minlength">
    Order ID must be at least 14 characters long.
  </div>
</div>
<div *ngIf="executionsService.searchForm.get('executionId').invalid && 
(executionsService.searchForm.get('executionId').dirty || executionsService.searchForm.get('executionId').touched)"
  class="alert alert-danger">
  <div *ngIf="executionsService.searchForm.get('executionId').errors.minlength">
    Execution ID must be at least 14 characters long.
  </div>
</div>
<div class="alert alert-danger" *ngIf="!isDateValid">
  From Date must be before To Date.
</div>
<!-- Table to display the records-->
<ng-container *ngIf="executionsService.executions">
  <form [formGroup]="executionsService.tableControlForm">
    <div class="form-row tab-display">
      <div class="h-40 form-group col-sm-5">
        <div class="input-group">
          <label>&nbsp;show&nbsp;</label>
          <select class="col-sm-2" id="pageSize" name="pageSize" [(ngModel)]="executionsService.pageSize"
            ngDefaultControl [ngModelOptions]="{standalone: true}" (change)="executionsService.onPageSizeChane()">
            <option [ngValue]="r" *ngFor="let r of executionsService.records"> {{r}} </option>
          </select>
          <label>&nbsp;records per page&nbsp;</label>
        </div>
      </div>
      <div class="h-40 form-group col-sm-2">
        <div class="input-group">
          <label>&nbsp;Total records : &nbsp; {{executionsService.totalRecords}}</label>
        </div>
      </div>
      <div class="h-40 form-group col-sm-5">
        <ul class="pagination pagination-sm float-right" [(ngModel)]="pageCount" [ngModelOptions]="{standalone: true}"
          ngDefaultControl name="pageCount">
          <li class="page-item" [ngClass]="{disabled:executionsService.pager.currentPage === 1}">
            <a class="page-link" (click)="executionsService.onPageNumberChange(1)">First</a> </li>
          <li class="page-item" [ngClass]="{disabled:executionsService.pager.currentPage === 1}">
            <a class="page-link" (click)="executionsService.onPageNumberChange(executionsService.pager.currentPage - 1)">Prev</a>
          </li>
          <li *ngFor="let page of executionsService.pager.pages" class="page-item" [ngClass]="{active:executionsService.pager.currentPage === page}">
            <a class="page-link" (click)="executionsService.onPageNumberChange(page)">{{page}}</a> </li>
          <li class="page-item" [ngClass]="{disabled:executionsService.pager.currentPage === executionsService.pager.totalPages}">
            <a class="page-link" (click)="executionsService.onPageNumberChange(executionsService.pager.currentPage + 1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:executionsService.pager.currentPage === executionsService.pager.totalPages}">
            <a class="page-link" (click)="executionsService.onPageNumberChange(executionsService.pager.totalPages)">Last</a> </li>
        </ul>
      </div>
    </div>
  </form>

  <div class="tab-display">
    <table class="table table-sm table-hover" *ngIf="executionsService.executions?.length > 0">
      <thead style="background-color: #02253b; color: #fff; font-weight: normal;">
        <tr>
          <th>Execution ID</th>
          <th>Order ID</th>
          <th>Type</th>
          <th>Tran Type</th>
          <th>Last Shares</th>
          <th>Last Price</th>
          <th>Leaves Quantity</th>
          <th>Cum. Quantity</th>
          <th>Avg. Price</th>
          <th>Create Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exe of executionsService.executions">
          <td>{{exe.executionId}}</td>
          <td>{{exe.orderId}}</td>
          <td>{{exe.execType}}</td>
          <td>{{exe.execTranType}}</td>
          <td>{{exe.lastShares}}</td>
          <td>{{exe.lastPrice}}</td>
          <td>{{exe.leavesQuantity}}</td>
          <td>{{exe.cumQuantity}}</td>
          <td>{{exe.avgPrice}}</td>
          <td>{{exe.recCreateTime}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="executionsService.executions?.length == 0">
      <span>No records found.</span>
    </div>

  </div>
</ng-container>
<app-loader></app-loader>