<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="http://www.crowdx.co.uk/" target="_blank">
    <img class="navbar-brand" src="/assets/images/logo.jpg">
  </a>
  <!--<div class="collapse navbar-collapse" id="navbarNav">-->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/executions" routerLinkActive="active">Executions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/instruments" routerLinkActive="active">Instruments</a>
    </li>
  </ul>
  <!-- </div>-->
</nav>
<br />
<router-outlet></router-outlet>