<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a href="http://www.crowdx.co.uk/" target="_blank">
    <img class="navbar-brand" src="/assets/images/logo.jpg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/executions" routerLinkActive="active">Executions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/instruments" routerLinkActive="active">Instruments</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="ID Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br />
<router-outlet></router-outlet>


