.navbar-brand {
    margin-top: -15px;
    padding-top: -10px; 
    margin-bottom: -15px;
    height: 75px;
    width: 75px;
}
a:hover {
    text-decoration: none;
}
.fa-search{
    background-color: #212529;
    color: grey;
    border: 0;
}
.fa-search:hover {
    color: white;
}